*,
::after,
::before {
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

.header {
	color: white;
	height: 150vh;
	background-image: url('./imgs/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 4rem 6rem;
	width: 65vw;
}

.nav ul {
	display: flex;
	list-style-type: none;
	gap: 1rem;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

.brand {
	font-size: 2.5rem;
}
