@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::after,
::before {
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	display: flex;
	flex-direction: column;
	--bg-color: #0B1D26;
	--second-color: #FBD784;
}

.header {
	color: white;
	height: 125vh;
	background-image: url('./imgs/header-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	z-index: 0;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 4rem 6rem;
	width: 65vw;

	ul {
		font-family: Poppins;
	}
}

.nav ul {
	display: flex;
	list-style-type: none;
	gap: 1rem;

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}

.brand {
	font-size: 2.5rem;
}

.hero {
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.hero__hiking-guide {
	color: var(--second-color);
	letter-spacing: .4rem;
	font-family: Poppins;

	&::before {
		content: '⎯⎯⎯         ';
		letter-spacing: 0;
	}
}

.hero__title {
	font-size: 6rem;
	font-weight: 500;
}

.hero__scroll-down {
	font-family: Poppins;
	display: flex;
	gap: 1rem;
	align-items: center;

	&::after {
		content: '↓';
		font-size: 3rem;
		animation: bounce 2s ease-in-out infinite;
	}
}

@keyframes bounce {
	50% {
		transform: translateY(10%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes bounce-left-right {
	50% {
		transform: translateX(20%);
	}

	100% {
		transform: translateX(0%);
	}
}

.content {
	background-color: var(--bg-color);
	padding: 0 15rem;
	box-shadow: 0 0px 76px 100px var(--bg-color);
	z-index: 100;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 15rem;
	/*height: 100vh;*/
}

.get-started {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.get-started__content--1 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-left: 8rem;
	position: relative;

	&::before {
		content: '01';
		font-family: Poppins;
		font-size: 15rem;
		font-weight: 900;
		position: absolute;
		top: -10rem;
		left: 0;
		color: rgba(255, 255, 255, 0.1);
	}
}

.get-started__content--2 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-left: 8rem;
	position: relative;

	&::before {
		content: '02';
		font-family: Poppins;
		font-size: 15rem;
		font-weight: 900;
		position: absolute;
		top: -10rem;
		left: 0;
		color: rgba(255, 255, 255, 0.1);
	}
}

.get-started__content--3 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-left: 8rem;
	position: relative;

	&::before {
		content: '03';
		font-family: Poppins;
		font-size: 15rem;
		font-weight: 900;
		position: absolute;
		top: -10rem;
		left: 0;
		color: rgba(255, 255, 255, 0.1);
	}
}

.get-started__title {
	font-size: 4rem;
	font-weight: 500;
	color: white;
}

.get-started__paragraph {
	color: white;
	font-size: 1.5rem;
	line-height: 1.5;
}

.get-started__picture {
	position: relative;
	border-radius: 1rem;
	overflow: hidden;
	top: -8rem;
	margin: 0 5rem;
}

.img-01 {
	object-fit: cover;
	width: 100%;
	width: 100%
}

.read-more {
	display: flex;
	align-items: center;
	gap: .5rem;
	color: var(--second-color);
	font-family: Poppins;
	font-size: 1.2rem;

	&::after {
		content: '→';
		font-size: 3rem;
		position: relative;
		top: -8px;
		animation: bounce-left-right 2s infinite;
	}
}

.footer {
	display: grid;
	grid-template-columns: auto 300px 300px;
}

.mntn-footer {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	font-size: 2rem;
	color: white;

	p,
	small {
		font-family: Poppins;
		font-size: 1.5rem;
	}

	p {
		max-width: 50%;
	}

	small {
		opacity: 0.5;
	}
}
